.OutTeam{
    text-align: center;
    position: relative;
    margin-bottom: 55px;
}

.OutTeam::after{
    content: '';

    position: absolute;
    width: 322px;
    height: 1px;
    background: #00122F;
    top: calc(100% + 22px);
    left: 50%;
    transform: translate(-50%, 0);
}

.ContactsPageList{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
