.defaultStyle{
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

.defaultStyle:hover{
    background-color: white;
    color: black;
}

.defaultStyle:hover svg path{
    fill: black;
}
