.questionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
    position: relative;
}

.questionHeaderTitle{
     width: 130px;
     font-size: 18px;
    font-weight: 500;

}

.questionHeaderButton{
    padding: 14px 17px;
    font-size: 14px;
}


@media  (min-width: 480px){
    .questionHeaderTitle{
        font-size: 22px;
    }

}

